In [36]:
import datetime
import pandas as pd

In [37]:
ts1 = str(int(datetime.datetime(2020, 5, 16).timestamp())) 
ts2 = str(int(datetime.datetime(2021, 8, 16).timestamp()))

#interval = '1d'
interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/%5ENSEI?period1='\
       + ts1 + '&period2=' + ts2 + '&interval=' + interval + '&events=history&includeAdjustedClose=true'

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/%5ENSEI?period1=1589567400&period2=1629052200&interval=1wk&events=history&includeAdjustedClose=true
1589567400 1629052200

In [38]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border-style: solid;
}

In [39]:
try:
    nifty50_df = pd.read_csv(url)
except:
    print("Not able to fetch NIFTY 50 (^NSEI) historical data")

In [40]:
nifty50_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-05-18,9158.299805,9178.549805,8806.750000,9039.250000,9039.250000,3464800.0
1,2020-05-25,9099.750000,9598.849609,8996.650391,9580.299805,9580.299805,3223400.0
2,2020-06-01,9726.849609,10177.799805,9706.950195,10142.150391,10142.150391,4121300.0
3,2020-06-08,10326.750000,10328.500000,9544.349609,9972.900391,9972.900391,3834900.0
4,2020-06-15,9919.349609,10272.400391,9726.349609,10244.400391,10244.400391,3816400.0
...,...,...,...,...,...,...,...
61,2021-07-19,15754.500000,15899.799805,15578.549805,15856.049805,15856.049805,1075800.0
62,2021-07-26,15849.299805,15893.349609,15513.450195,15763.049805,15763.049805,1698300.0
63,2021-08-02,15874.900391,16349.450195,15834.650391,16238.200195,16238.200195,1751700.0
64,2021-08-09,16281.349609,16543.599609,16162.549805,16529.099609,16529.099609,1408500.0
65,2021-08-16,NaN,NaN,NaN,NaN,NaN,NaN